@import 'tailwindcss';

:root {
	font-family: 'SpaceGrotesk', sans-serif;
	background-color: var(--color-zinc-900);
}

@font-face {
	font-family: 'SpaceGrotesk';
	src: url('/SpaceGrotesk.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #18181b;
}

*::-webkit-scrollbar-thumb {
	background-color: #09090b;
	border-radius: 10px;
	border: 0px none #ffffff;
}
